@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #252525;
}

/* ---------- Header ---------- */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 10%;
}

header button {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background: #FFBF00;
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

header img {height: 75px;}
header button:hover {background-color: #F28C28;}

/* ---------- Navigation ---------- */

nav li {
    display: inline-block;
    padding: 0 20px;
}

nav a {
    transition: all 0.3s ease 0s;
    text-transform: uppercase;
}

nav li, nav a {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #EDEADE;
    text-decoration: none;
}

nav ul {list-style: none;}
nav a:hover, nav .selected {color: #FFBF00;}

/* ---------- Main ---------- */

article {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #EDEADE;
    padding: 40px 0;
}

article .movies {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 20%;
}

.movie {
    width: 200px;
    margin: 10px 0;
}

article .movie img {
    height: 300px;
    border-radius: 10px;
}

.movie {transition: all 0.3s ease 0s;}
.movie:hover {transform: scale(1.1);}

article h3, article span {
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.search{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.search input {
    background-color: #FCF5E5;
    height: 50px;
    width: 400px;
    font-size: 20px;
    padding: 20px;
    border: 4px solid #FFBF00;
    border-radius: 20px 0px 0px 20px;
}

select {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px; 
    text-align: center;
    height: 50px;
    width: 120px;
    background-color: #FFBF00;
    border: 2px solid #FFBF00;
    border-radius: 0px 7px 7px 0px;
}